@import "reset.css";
@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/gilroy-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/gilroy-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy SemiBold";
    src: url("../fonts/gilroy-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/gilroy-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    --font-main:  "Gilroy Regular", sans-serif;
    --font-600:  "Gilroy SemiBold", sans-serif;
    --font-500: "Gilroy Medium", sans-serif;
    --font-700: "Gilroy Bold", sans-serif;
    --color-main: #F1F1F1;
    --color-accent: #FF4C0D;
    --color-button: #151515;
    --background-main: #222222;
    --background-circle-1: #FC501F;
    --background-circle-2: #FC1F1F;
    --background-circle-3: #FC7C1F;
    --background-color: #0E0E0E;
    --header-height: 54px;
}
body {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-main);
    background-color: var(--background-color);
}
h1 {
    font-family: var(--font-600);
    font-size: 80px;
    line-height: 1;
    color: var(--color-main);
    padding-top: 8px;
    margin-bottom: 32px;
}
h2 {
    font-family: var(--font-500);
    font-size: 45px;
    line-height: 1.1;
}
h3 {
    font-family: var(--font-600);
    font-size: 20px;
    line-height: 1.2;
}
.button {
    transition: all 0.3s;
}
.button:hover {
    background-color: var(--color-accent);
    color: var(--color-main);
}
.orangebtn:hover {
    background-color: var(--color-main);
    color: var(--color-button)
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.pbs {
    padding: 40px 7.3vw;
}
[class^="layer-blur-"] {
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}
.layer-blur-top-right-1 {
    width: 860px;
    height: 600px;
    top: -10%;
    left: 60%;
    background: var(--background-circle-1);
    filter: blur(220px);
}
.layer-blur-top-right-2 {
    width: 450px;
    height: 450px;
    top: -10%;
    left: 50%;
    background: var(--background-circle-2);
    filter: blur(220px);
    opacity: .3;
}
.layer-blur-design-1 {
    width: 447px;
    height: 600px;
    top: 60%;
    left: 0;
    background: var(--background-circle-1);
    filter: blur(90px);
    transform: rotate(-20deg);
    opacity: 0.3;
}
[class^="layer-bike-"] {
    position: absolute;
    z-index: -1;
    transition: linear 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.layer-bike-top {
    background: url(../img/bike-top.png) no-repeat;
    width: 1185px;
    height: 1092px;
    top: -207px;
    right: 2px;
}
.layer-bike-top-black {
    background: url(../img/bike-top-black.png) no-repeat;
    width: 1185px;
    height: 1092px;
    top: -207px;
    right: 2px;
}
.layer-bike-bottom {
    background: url(../img/bike-bottom.png) no-repeat;
    width: 953px;
    height: 660px;
    top: -71px;
    right: 0px;
    z-index: 0;
}
.main__inner--mobile-bike {
    display: none;
}
/* mobile menu */
.menu {
    position: relative;
    z-index: 9999;
    display: none;
    padding: 25px;
    background: #F1F1F1;
    border-radius: 50px;
}
.menu-triger {
    background: url(../img/menu-black.png) 0 0 repeat;
    display: block;
    width: 24px;
    height: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-12px, -8px);
}	
.menu-close {
	background: url(../img/close.png) 0 0 repeat;
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.menu-popup {
	display: none;
	position: absolute;
	left: -110%;
	top: 0;
	width: 220px;
	box-sizing: border-box;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: var(--color-main);
    border-radius: 0.25em;
}
.menu-popup ul {
	margin: 0;
	padding: 0;
}
.menu-popup li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.menu-popup li a {
	font-size: 18px;
	font-family: "Arial";
	color: #323232;
	line-height: 1.4;	
	text-decoration: none;
}
.body_pointer * {
	cursor: pointer;
}
/* end mobile menu*/
.header {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 37px;
}
.logo {
    display: flex;
}
.svgicon {
    content: "";
    width: 60px;
    height: 39px;
    background: url(../img/logo.svg);
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.header__menu nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 39px;
}
.whitebtn, .orangebtn {
    font-family: var(--font-700);
    background-color: var(--color-main);
    color: var(--color-button);
    padding: 15px 35px;
    height: 53px;
    font-size: 16px;
    border-radius: 65px;
}
.orangebtn {
    background-color: var(--color-accent);
    color: var(--color-main);
}
/* main */
.main__inner {
    margin-bottom: 171px;
}
.main__description {
    max-width: 1070px;
    display: flex;
    flex-direction: column;
}
.main__description p {
    font-family: var(--font-600);
    font-size: 30px;
    line-height: 1.2;
    color: var(--color-accent);
    max-width: 475px;
    /* text-wrap: balance; */
    margin-bottom: 59px;
}
/* buttons */
.main__buttonarea {
    display: flex;
}
.main__button {
    position: relative;
    height: 54px;
}
.main__button input {
    position: relative;
    width: 248px;
    height: 54px;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.main__button input:before,
.main__button input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--font-700);
    font-size: 16px;
    line-height: 1.5;
}
.main__button input:before {
    content: "Белый";
    left: 32px;
}
.main__button input:after {
    content: "Черный";
    right: 33px;
}
.main__button label {
    z-index: 1;
    position: absolute;
    width: 118px;
    top: 2px;
    bottom: 2px;
    border-radius: 64px;
}
.main__button.white input {
    transition: 0.3s ease-in-out;
}
.main__button.white input:not(:checked) {
    border: 3px solid var(--color-main);
    border-radius: 64px;
}
.main__button.white input:not(:checked):before {
    color: var(--color-button);
}
.main__button.white input:not(:checked):after {
    transition: 0.3s ease-in-out;
}
.main__button.white input:not(:checked):after {
    transition: 0.3s ease-in-out;
}
.main__button.white input:not(:checked) + label {
    left: 0;
    background: var(--color-main);
    transition: 0.3s ease-in-out;
}
.main__button.white input:checked {
    border: 3px solid var(--color-main);
    transition: 0.3s ease-in-out;
    border-radius: 30px;
}
.main__button.white input:checked:before {
    color: var(--color-main);
}
.main__button.white input:checked:after {
    color: var(--color-button);
}
.main__button.white input:checked + label {
    left: 128px;
    background: var(--color-main);
    transition: 0.3s ease-in-out;
}
/* features */
.features {
    margin-bottom: 81px;
    position: relative;
}
.layer-blur-features-1 {
    width: 930px;
    height: 360px;
    top: -3%;
    left: 7%;
    background: linear-gradient(120deg, #fc501f 0%, rgba(252, 80, 31, 0) 100%);
    filter: blur(130px);
    transform: rotate(20deg);
    opacity: 0.8;
}
.layer-blur-features-2 {
    width: 447px;
    height: 450px;
    top: 25%;
    left: 73%;
    background: var(--background-circle-1);
    filter: blur(110px);
    transform: rotate(-20deg);
    opacity: 0.3;
}
.features__inner h2 {
    max-width: 870px;
    margin-bottom: 61px;
}
.features__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "card1 card2 card3"
        "card4 card4 card5";
    column-gap: 40px;
    row-gap: 30px;
    position: relative;
}
.card2, 
.card3 {
    opacity: 0.4;
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
    z-index: -1;
}
.card6 {
    grid-area: card6;
    display: none;
}
.card7 {
    grid-area: card7;
    display: none;
}
.card8 {
    grid-area: card8;
    display: none;
}
.card9,
.card10,
.card11 {
    display: none;
}
.features__card {
    position: relative;
}
.features__card--descr::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-accent);
    top: 39px;
    z-index: 1;
}
.features__card--title {
    margin-bottom: 33px;
    position: relative;
}
.features__items::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-main);
    top: 39px;
}
.features__card h3 {
    color: var(--color-main);
}
.card1, 
.card2, 
.card3 {
    opacity: 0.4;
}
.features__card:hover {
    opacity: 1;
}
.features__card--descr {
    letter-spacing: -0.01rem;
}
.features__card .features__card--img img {
    border-radius: 15px;
}
/* speed */
.speed {
    background: url(../img/scooter-frame.jpg) no-repeat;
    background-size: 100%;
    background-position: 0px -38px;
    width: 100%;
    height: 600px;
    position: relative;
}
.speed::before {
    content: "";
    background: url(../img/path-speed-before-d.svg) no-repeat;
    width: 1522px;
    height: 945px;
    position: absolute;
    top: -57%;
    right: -5%;
    z-index: -1;
}
.speed::after {
    content: "";
    background: url(../img/path-speed-after-d.svg) no-repeat;
    width: 1256px;
    height: 1604px;
    position: absolute;
    top: 73.1%;
    right: -66.7%;
    z-index: -1;
}
.layer-blur-speed-1 {
    width: 567px;
    height: 600px;
    top: -30%;
    left: 0;
    background: var(--background-circle-1);
    filter: blur(130px);
    transform: rotate(-20deg);
    opacity: 0.3;
}
.layer-blur-speed-2 {
    width: 407px;
    height: 770px;
    top: 74%;
    left: 57%;
    background: var(--background-circle-1);
    filter: blur(100px);
    transform: rotate(70deg);
    opacity: 0.3;
}
.speed__inner {
    padding-top: 120px;
}
.speed__descr {
    max-width: 395px;
}
.speed__logo {
    margin-bottom: 149px;
}
.speed__descr h2 {
    margin-bottom: 32px;
}
.speed__descr p {
    max-width: 354px;
}
/* design */
.design {
    position: relative;
    margin-bottom: 41px;
}
.design h2 {
    color: var(--color-accent);
    max-width: 770px;
    margin-bottom: 70px;
}
.design__inner {
    padding-top: 80px;
}
.design__img {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.design__img::after {
    content: "";
    background: url(../img/path-design-after-d.svg) no-repeat;
    width: 1756px;
    height: 1134px;
    position: absolute;
    top: 70.3%;
    right: 77.3%;
    z-index: -1;
}
.design__imgmob {
    display: none;
}
.design__img h3 {
    margin-bottom: 16px;
}
[class^="design__img--"] {
    max-width: 560px;
    padding: 30px 60px 59px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    transition: ease 0.3s;
}
[class^="design__img--"]:hover {
    transform: scale(1.03);
}
.design__img--one {
    background: url(../img/design__scooter_1.jpg) no-repeat;
    height: 550px;
}
.design__img--two {
    background: url(../img/design__scooter_2.jpg) no-repeat;
    height: 550px;
}
.design__img p {
    max-width: 440px;
    letter-spacing: -0.01em;
    text-wrap: balance;
}
/* safety */
.safety {
    margin-bottom: 40px;
    position: relative;
}
.safety::before {
    content: "";
    background: url(../img/path-safety-before-m.svg) no-repeat;
    width: 873px;
    height: 541px;
    position: absolute;
    top: -19%;
    right: -253%;
    z-index: -1;
}
.layer-blur-safety-2 {
    width: 447px;
    height: 450px;
    top: 55%;
    left: 10%;
    background: var(--background-circle-1);
    filter: blur(110px);
    transform: rotate(-20deg);
    opacity: 0.2;
}
.layer-blur-safety-3 {
    width: 447px;
    height: 450px;
    top: 65%;
    left: 73%;
    background: var(--background-circle-1);
    filter: blur(110px);
    transform: rotate(-20deg);
    opacity: 0.5;
    z-index: -2;
}
.safety__inner h2 {
    max-width: 870px;
    margin-bottom: 61px;
}
.safety__items, 
.safety__picures {
    display: flex;
    position: relative;
    gap: 40px;
}
.safety__picures {
    padding-top: 30px;
    position: relative;
}
.safety__item--picmob, 
.safety__item--pic640 {
    display: none;
}
.safety__item {
    width: 260px;
}
.item1, 
.item2, 
.item3, 
.item4 {
    opacity: 0.4;
}
.safety__item:hover {
    opacity: 1;
}
.item5 {
    flex-grow: 5;
}
.item6 {
    flex-grow: 1;
}
.item6 .safety__item--img img {
    position: relative;
    z-index: -2;
}
.safety__item .safety__item--title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-accent);
    top: 3.9rem;
    z-index: 2;
}
.item1 .safety__item--descr::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-main);
    top: 3.9rem;
    z-index: 1;
}
.safety__item--title {
    margin-bottom: 2rem;
    position: relative;
}
.safety__items::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-main);
    top: 3.9rem;
}
.safety__item--title {
    max-width: 260px;
}
.item1 h3, 
.item3 h3 {
    max-width: 180px;
}
.item1 h3::after {
    background-color: var(--color-accent);
}
.safety__item--descr {
    letter-spacing: -0.01rem;
}
.safety__item .safety__item--img img {
    border-radius: 15px;
}
.item5, 
.item6 {
    opacity: 1;
}
/* app */
.app {
    position: relative;
    padding-bottom: 0;
}
.layer-blur-app-1, 
.layer-blur-faq-1 {
    width: 579px;
    height: 582px;
    top: 60%;
    left: 0%;
    background: var(--background-circle-1);
    filter: blur(160px);
    opacity: 0.3;
    z-index: -3;
}
.layer-blur-app-2 {
    width: 579px;
    height: 582px;
    top: 60%;
    left: 0%;
    background: var(--background-circle-1);
    filter: blur(160px);
    opacity: 0.3;
    z-index: -3;
}
.app::before {
    content: "";
    background: url(../img/path-app-before-d.svg) no-repeat;
    width: 1256px;
    height: 1604px;
    position: absolute;
    top: -39.7%;
    right: -44.2%;
    z-index: -1;
}
.app__inner {
    display: flex;
    gap: 75px;
}
.app__descr {
    max-width: 525px;
}
.app__descr h2 {
    color: var(--color-accent);
    padding-top: 120px;
}
.app__text {
    max-width: 338px;
    padding-top: 30px;
}
.app__buttons {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 60px;
}
.app__button img {
    border-radius: 6px;
}
.app__buttons--app {
    width: 120px;
    height: 40px;
}
.app__buttons--google {
}
.app__img {
    background: url(../img/app__scooter.png) no-repeat;
    width: 400px;
    height: 575px;
}
/* brand */
.brand {
    padding-top: 0;
}
.brand__inner {
}
.brand__mob {
    display: none;
}
/* slick slider */
.brand .slick-dots {
    bottom: -27px;
}
.brand .slick-dots li.slick-active button:before {
    color: #fff;
}
.brand .slick-dots li button:before {
    font-size: 10px;
}
.brand .slick-dots li button:before {
    opacity: .2;
    color: #fff;
}
.brand .slick-dots li {
    margin: 0 10px;
}
/* feedbacks */
.feedbacks {
    padding-top: 120px;
    position: relative;
    margin-bottom: 80px;
}
.layer-blur-feedbacks-1 {
    width: 600px;
    height: 600px;
    top: -30%;
    left: 50%;
    background: var(--background-circle-1);
    filter: blur(170px);
    opacity: 0.5;
}
.feedbacks::before {
    content: "";
    position: absolute;
    background: url(../img/path-feedbacks-before-d.svg) no-repeat;
    width: 1756px;
    height: 1134px;
    top: -27.8%;
    left: 79.5%;
    z-index: -1;
}
.feedbacks__inner {
    position: relative;
    padding-left: 7.3vw;
    /* z-index: 1; */
}
.feedbacks__inner h2 {
    color: var(--color-accent);
}
.feedbacks__cards {
    /* display: flex; */
    padding-top: 30px;
}
.feedbacks__card {
    background-color: var(--color-button);
    padding: 40px;
    border-radius: 15px;
    width: 460px;
}
.feedbacks__card h3 {
    margin-bottom: 20px;
    position: relative;
}
.feedbacks__card h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    top: 40px;
    left: 0;
    background-color: var(--color-accent);
}
.feedbacks__card p:not(:last-child) {
    margin-bottom: 10px;
}
.feedbacks__review {
    padding-top: 14px;
}
.feedback__button {
    font-family: var(--font-700);
    width: 189px;
    height: 54px;
    background-color: var(--color-main);
    color: var(--color-button);
    border-radius: 65px;
    margin-top: 30px;
    font-size: 16px;
}
.feedbacks .slick-slider {
    position: initial;
}
.feedbacks .slick-slide {
    margin-left: 40px;
}


.feedbacks .slick-prev {
    left: calc(100% - 100% / 5 - 12px);
    background-color: var(--color-main);
    color: var(--color-button);
}
.feedbacks .slick-next {
    left: calc((100% - 100% / 5) + 57px);
}
.feedbacks .slick-prev, .feedbacks .slick-next {
    left: calc(100% - 100% / 5 - 12px);
    background-color: var(--color-main);
    color: var(--color-button);
}



.feedbacks .slick-prev {
    left: calc(100% - 100% / 5 - 12px);
}
.feedbacks .slick-next {
    left: calc((100% - 100% / 5) + 57px);
}
.feedbacks .slick-prev, 
.feedbacks .slick-next {
    background-color: var(--color-main);
    color: var(--color-button);
    top: 94%;
    width: 54px;
    height: 54px;
    border-radius: 50px;
}
.feedbacks .slick-prev:hover, 
.feedbacks .slick-next:hover {
    background-color: var(--color-accent);
    color: var(--color-main);
}
.feedbacks .slick-prev:before, 
.feedbacks .slick-next:before {
    display: block;
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feedbacks .slick-prev:before {
    background: url(../img/prev.png) no-repeat center;
}
.feedbacks .slick-next:before {
    background: url(../img/next.png) no-repeat center;
}
.feedbacks .slick-prev:hover:before {
    background: url(../img/prev-white.png) no-repeat center;
}
.feedbacks .slick-next:hover:before {
    background: url(../img/next-white.png) no-repeat center;
}
.feedbacks .slick-dots li.slick-active button:before, 
.feedbacks .slick-dots li button:before {
    color: transparent;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/* faq */
.faq {
    position: relative;
}
.faq::after {
    content: "";
    position: absolute;
    background: url(../img/path-faq-after-d.png) no-repeat;
    width: 1044px;
    height: 814px;
    top: 78.3%;
    left: -5.5%;
    z-index: 0;
}
.layer-blur-faq-1 {
    top: 90%;
    left: 6%;
}
.faq h2 {
    color: var(--color-accent);
    margin-bottom: 30px;
}
.faq__inner {
    display: flex;
    gap: 90px;
}
.faq__form {
    min-width: 410px;
}
.faq__form p {
    margin-bottom: 10px;
    max-width: 330px;
}
.faq__button {
    margin-top: 50px;
}
.faq__questions {
    padding-right: 17px;
}
.faq__question {
    margin-bottom: 40px;
    position: relative;
}
.faq__question p {
    padding-top: 33px;
    letter-spacing: -0.01em;
    position: relative;
}
.faq__question p::before {
    content: "";
    position: absolute;
    display: block;
    top: 16px;
    width: 100px;
    height: 2px; 
    background-color: var(--color-accent);
}
/* model */
.model {
    position: relative;
}
.model::before {
    content: "";
    position: absolute;
    background: url(../img/path-model-before-d.png) no-repeat;
    width: 1667px;
    height: 814px;
    top: -20.4%;
    left: 67%;
    z-index: 0;
}
.model__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 78px 0 60px;
    background: url(../img/bike-bottom-gradient.jpg) no-repeat center;
    background-size: cover;
    border-radius: 15px;
}
.model__title h3 {
    font-family: var(--font-600);
    font-size: 30px;
    line-height: 1.2;
    color: var(--color-accent);
    padding-top: 8px;
    margin-bottom: 31px;
}
.orangebtn {
    margin-top: 197px;
    margin-bottom: 61px;
}
.model__descr ul {
    padding-top: 25px;
}
.model__descr ul li {
    margin-bottom: 10px;
}
.model__descr--m {
    display: none;
}
/* footer */
.footer {
    padding-top: 0;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.footer p:not(:last-child) {
    padding-bottom: 10px;
}
.footer p {
    letter-spacing: -0.01em;
}
.footer__contact {
    text-align: right;
}




/* media */
@media (max-width:1300px) {
    .safety__item {
        width: calc(100vw/4 - 70px);
    }
    /* modal */
    .layer-bike-bottom {
        right: -110px;
    }
    .model__title {
        z-index: 1;
    }
}
@media (max-width:1200px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 46px;
    }
    h3 {
        font-size: 18px;
    }
    .main__inner {
        margin-bottom: 180px;
    }
    .layer-bike-top {
        background: url(../img/bike-top.png) no-repeat;
        top: -19px;
        right: -345px;
        background-size: 840px !important;
    }
    .layer-bike-top-black {
        background: url(../img/bike-top-black.png) no-repeat;
        top: -19px;
        right: -345px;
        background-size: 840px !important;
    }
    /* speed */
    .speed__logo {
        margin-bottom: 70px;
    }
    .speed::after {
        top: 53.1%;
        right: -46.7%;
    }
    /* design */
    [class^="design__img--"] {
        padding: 20px 20px 49px;
    }
    /* safety */
    .item1 h3, 
    .item3 h3 {
        max-width: 140px;
    }
    /* model */
}
@media (max-width:1024px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 16px;
    }
    .main__inner {
        margin-bottom: 160px;
    }
    .layer-bike-top {
        background: url(../img/bike-top.png) no-repeat;
        top: -19px;
        right: -345px;
        background-size: 840px !important;
    }
    .layer-bike-top-black {
        background: url(../img/bike-top-black.png) no-repeat;
        top: -19px;
        right: -345px;
        background-size: 840px !important;
    }
    /* app */
    .app::before {
    }
    .app__img {
        background: url(../img/app__scooter.png) no-repeat;
        width: 550px;   
    }
    /* model */
} 
@media (max-width:960px) {  
    p {
        font-size: 14px;
    }
    /* header */
    .menu {
        display: block;
    }
    .menu-popup {
        left: -164px !important;
        top: -20px !important;
    } 
    .header {
        position: fixed;
        width: 100%;
        top: 5px;
        left: 0;
        padding: 10px 0;
        z-index: 9999;
    }
    .header__inner {
        height: 94px;
        padding: 56px 0;
    }
    .header__menu {
        gap: 50px;
    } 
    .header__nav {
        display: none;
    }
    .header__button {
        display: none;
    }
    /* main */
    .pbs {
        padding: 0 6.3vw;
    }
    h1 {
        font-size: 40px;
        line-height: 1.2;
        text-wrap: balance;
        padding-top: 200px;
        margin-bottom: 20px;
    }
    h2 {
        font-family: var(--font-600);
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .main__inner {
        margin-bottom: 150px;
    }
    .main__description p {
        font-size: 20px;
        max-width: 354px;
        margin-bottom: 48px;
    }
    .layer-bike-top {
        background: url(../img/bike-top.png) no-repeat;
        top: -49px;
        right: -562px;
        background-size: 760px !important;
    }
    .layer-bike-top-black {
        background: url(../img/bike-top-black.png) no-repeat;
        top: -49px;
        right: -562px;
        background-size: 760px !important;
    }
    .layer-blur-1 {
        top: -16%;
        left: 60%;
    }
    .layer-blur-2 {
        top: -30%;
        left: 0%;
    }
    .layer-blur-4 {
        width: 447px;
        height: 450px;
        top: 21%;
        left: 0%;
        filter: blur(130px);
    }
    /* features */
    .features {
        margin-bottom: 53px;
    }
    .features::before {
        content: "";
        background: url(../img/path-features-before-p.svg) no-repeat;
        width: 614px;
        height: 458px;
        position: absolute;
        top: 35%;
        left: 66%;
    }
    .features__inner h2 {
        margin-bottom: 40px;
    }
    .features__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card8"
            "card2"
            "card6"
            "card3"
            "card7";
        row-gap: 14px;
        position: relative;
    }
    .features__items::after {
        display: none;
    }
    .features__card {
        opacity: 1;
    }
    .card8,
    .card6,
    .card7 {
        display: block;
    }
    .card4,
    .card5,
    .card10,
    .card11,
    .card9 {
        display: none;
    }
    .features__card h3 {
        color: var(--color-accent);
    } 
    .features__card--descr {
        line-height: 1.6;
        max-width: 539px;
    }
    .features__card--img img {
        margin-bottom: 26px;
        width: 100%;
    }
    .features__card:nth-child(5) {
        display: none;
    } 
    .features__card h3::after {
        content: "";
        display: block;
        position: absolute;
        width: 150px;
        top: 40px;
        height: 2px;
        background-color: var(--color-accent);
        z-index: 1;
    }    
    .features__card--descr::before {
        display: none;
    }
    /* speed */
    .speed {
        background-position: top right;
        background-size: cover;
        height: 420px;
    }
    .speed::before {
        background: url(../img/path-speed-before-p.svg) no-repeat;
        width: 1188px;
        height: 737px;
        top: -139%;
        left: 33%;
    }
    .speed::after, 
    .design__img::after {
        display: none;
    }
    .speed__logo {
        padding-top: 40px;
        margin-bottom: 171px;
    }
    .speed__descr h2 {
        margin-bottom: 21px;
        padding-top: 2px;
    }
    .speed__descr p {
        max-width: 278px;
    }
    /* design */
    .layer-blur-design-1 {
        top: 80%;
        left: 0;
    }
    .design {
        margin-bottom: 80px;
    }
    .design h2 {
        text-wrap: balance;
        margin-bottom: 30px;
        color: var(--color-main);
    }
    .design__img h3 {
        margin-bottom: 17px;
    }
    .design__img {
        gap: 20px;
        flex-direction: column;
    }
    .design__img::after {
        top: 73%;
        left: 30%;
        transform: rotate(58deg);
    }
    .design__img--one {
        background-size: 111%;
    }
    .design__img--two {
        background-position: -26px 7px;
    }
    .design__img--one, 
    .design__img--two {
        padding: 30px 40px 39px;
    }
    /* safety */
    .safety {
        margin-bottom: 56px;
    }
    .safety__inner h2 {
        margin-bottom: 41px;
    }
    .safety__items {
        flex-direction: column;
    }
    .safety__items::after, 
    .safety__item:first-child .safety__item--descr::before {
        content: none;
    }
    .safety__item {
        width: 100%;
        opacity: 1;
    }
    .safety__item--title {
        margin-bottom: 2.2rem;
        color: var(--color-accent);
    }
    .safety__item .safety__item--title::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        top: 2.5rem;
        background-color: var(--color-accent);
    }
    .safety__item--title, 
    .item1 h3, 
    .item3 h3 {
        max-width: unset;
    }
    .safety__item--descr {
        margin-bottom: 1rem;
        max-width: 540px;
    }
    .safety__item--picmob, .safety__picures {
        display: none;
    }
    .safety__item--pic640 {
        display: block;
    }
    .safety__item--pic640 img {
        border-radius: 15px;
    }
    /* app */
    .app::before {
        background: url(../img/path-app-before-p.svg) no-repeat;
        width: 1017px;
        height: 757px;
        top: -86%;
        left: 23%;
    }
    .app__inner {
        gap: 28px;
    }
    .app__descr {
        max-width: 313px;
    }
    .app__descr h2 {
        padding-top: 23px;
    }
    .app__text {
        max-width: 273px;
        padding-top: 16px;
        letter-spacing: -0.01rem;
        line-height: 1.56;
    }
    .app__img img {
    }
    .app__img {
        position: relative;
        z-index: -3;
        background: url(../img/app__scooter_p.png) no-repeat;
        width: 220px;
        height: 396px;
    }
    .app__buttons {
        padding-top: 40px;
    }
    .app__buttons img {
        filter: invert(1);
    }
    .app__buttons--google {
        display: none;
    }
    /* brand */
    .brand__mob {
        display: block;
    }
    .brand__desktop {
        display: none;
    }
    .brand__mob {
        padding: 20px;
        padding-bottom: 31px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url(../img/mixed-frame-p.png) no-repeat center top;
        background-size: cover;
        /* height: 525px; */
    }
    .brand__logo .logowhite {
        display: none;
    }
    .logored {
        display: block;
    }
    .brand__logo {
        padding-left: 20px;
        padding-top: 20px;
    }
    .brand__about {
        padding: 110px 20px 0;
    }
    .brand__about h2 {
        margin-bottom: 17px;
        color: var(--color-accent);
    }
    .brand__items {
        display: flex;
    }
    .brand__item p {
        line-height: 1.7;
        margin-bottom: 5px;
        color: var(--color-button);
        max-width: 349px;
    }
    .brand .slick-dots {
        bottom: 80px;
        transform: rotate(90deg);
        position: relative;
    }
    .brand .slick-dots li.slick-active button:before {
        color: var(--color-button);
        opacity: 1;
    }
    .brand .slick-dots li button:before {
        opacity: .2;
        color: var(--color-button);
        font-size: 12px;
    }
    /* feedbacks */
    .feedbacks {
        padding-top: 82px;
    }
    .feedbacks__inner {
        padding-left: 6.3vw;
    }
    .feedbacks__inner h2 {
        margin-bottom: 10px;
    }
    .feedbacks__card h3::after {
        width: 150px;
    }
    .feedbacks__card {
        width: 417px;
        padding: 40px 50px 27px 40px;
    }
    .review2 .feedbacks__review p:first-child, 
    .review1 .feedbacks__review p:nth-child(2) {
        letter-spacing: -0.06em;
    }
    .review3 .feedbacks__review p:nth-child(2) {
        letter-spacing: 0;
    }
    .feedback__button {
        margin-top: 40px;
    }
    .feedbacks__review {
        max-width: 330px;
    }
    .feedbacks__review p {
        line-height: 1.57;
        letter-spacing: -0.01rem;
    }
    .feedbacks .slick-slide {
        margin-left: 29px;
    }
    .feedbacks .slick-prev {
        left: calc(100% - 100% / 5 - 37px);
    }
    .feedbacks .slick-next {
        left: calc((100% - 100% / 5) + 34px);
    }
    /* faq */
    .faq {
        margin-bottom: 40px;
    }
    .faq::after {
        display: none;
    }
    .faq__inner {
        flex-direction: column;
        gap: 80px;
    }
    .faq h2 {
        margin-bottom: 16px;
    }
    .faq__form p {
        max-width: 430px;
        margin-bottom: 12px;
    }
    .faq__button {
        margin-top: 20px;
    }
    .faq__question p {
        padding-top: 35px;
        max-width: 465px;
    }
    .faq__question p::before {
        width: 150px;
    }
    /* model */
    .model::before {
        background: url(../img/path-model-before-p.svg) no-repeat;
        width: 437px;
        height: 1208px;
        top: -250%;
        left: 73.3%;
        z-index: 0;
    }
    .model__inner {
        display: flex;
        flex-direction: column;
        padding: 40px 0 0 40px
    }
    .layer-bike-bottom {
        background: url(../img/bike-bottom.png) no-repeat;
        width: 641px;
        height: 660px;
        top: -16%;
        left: 33.4%;
        background-size: 110% !important;
    }
    .layer-bike-bottom-black {
        background: url(../img/bike-bottom-black.png) no-repeat;
        width: 641px;
        height: 660px;
        top: -16%;
        left: 33.4%;
        background-size: 110% !important;
    }
    .model__title h3 {
        font-size: 25px;
        padding-top: 7px;
        margin-bottom: 18px;
    }
    .orangebtn {
        margin-top: 110px;
        margin-bottom: 12px;
    }
    .model__descr {
        margin-bottom: 45px;
    }
    .model__descr h3 {
        font-size: 16px;
    }
    .model__descr--d {
        display: none;
    }
    .model__descr--m {
        display: block;
        background: transparent;
        margin: 0;
        border-radius: 5px;
        width: 50%;
        position: relative;
    }
    .model__descr--m .hystmodal--active .hystmodal__window {
        max-width: 70%;
        padding: 30px;
        border: 1px solid rgba(120, 120, 120, .7);
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
    	background: rgba(60, 63, 65, 0.9);
    }
    .model__descr--m .hystmodal__close {
        top: 10px;
        right: 20px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABBUlEQVR4nO3ZTQqDMBCGYU/RSq9Yj1uwPc1bRBcirWicv4T5Vm6UeVCTGdJ1mUwm00yAJ9AHqKOfaim9eWDO6IlhRkw1TBlKHnADXssDPsBDpdL9Gu6rGt7FNXhikEJ4YpBGeGDQQlhi0EZYYMwQmhhzhAbGDSGJcUdIYMIgrmDCIUowYRFnMOERRzDVIPYw1SH+zBDj5tp9ULvyZup6E+tsPiezEUA0TXxa/PixI4zNp7K3OlWD4cASGx7DiX0iLIaCzS4chgs7dhgMAm2HOwbB3skNg0IDaI5BsYs1w2DQiqONsZwn0MJ4DEVIYzwnO6QwEcZTJDDNHL01cxiayWQyXcR8AfkY5euVO0c7AAAAAElFTkSuQmCC");
    }
    /* footer */
    .footer__inner {
        padding: 40px 0;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .footer__contact {
        text-align: center;
    }
}
@media (max-width:639px) {
    p {
        font-size: 12px;
    }
    .layer-bike-top {
        background: url(../img/bike-top.png) no-repeat;
        top: -94px;
        right: -733px;
        background-size: 510px !important;
    }
    .layer-bike-top-black {
        background: url(../img/bike-top-black.png) no-repeat;
        top: -94px;
        right: -733px;
        background-size: 510px !important;
    }
    .pbs {
        padding: 0 6vw;
    }
    h1 {
        font-size: 30px;
        line-height: 1;
        padding-top: 307px;
        text-wrap: balance;
        margin-bottom: 15px;
    }
    h2 {
        font-family: var(--font-600);
        font-size: 25px;
        line-height: 1.2;
    }
    h3 {
        font-size: 16px;
    }
    .header__inner {
        height: var(--header-height);        
        padding: 35px 0;
    }
    .menu {
        padding: 22px;
    }
    .svgicon {
        width: 50px;
        height: 30px;
        background: url(../img/logo_red_mob.svg);
    }
    .main__inner {
        margin-bottom: 60px;
    }
    .main__inner--mobile-bike {
        display: block;
        position: absolute;
        background: url(../img/bike-top.png) no-repeat;
        width: 320px;
        height: 377px;
        top: 0;
        right: 0;
    }
    .main__description {
        padding-top: 70px;
    }
    .main__description p {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 29px;
    }
    /* speed */    
    .speed {
        background: url(../img/scooter-frame-mob.jpg) no-repeat;
        background-position: top right;
        background-size: cover;
    }
    .speed::before {
        background: url(../img/path-speed-before-m.svg) no-repeat;
        width: 1188px;
        height: 737px;
        top: -90%;
        left: -35%;
    }
    .speed::after {
        display: block;
        background: url(../img/path-speed-after-m.svg) no-repeat;
        width: 569px;
        height: 458px;
        top: 82%;
        left: 30%;
    }
    .speed__descr h2 {
        padding-top: 22px;
    }
    /* design */
    /* safety */
    .safety__item--picmob {
        display: none;
    }
    .safety__item--pic640 {
        display: block;
    }
    .safety::before {
        content: "";
        background: url(../img/path-safety-before-m.svg) no-repeat;
        width: 873px;
        height: 541px;
        position: absolute;
        top: -19.2%;
        right: -252.8%;
        z-index: -1;
    }
    /* app */
    .app::before {
        background: url(../img/path-app-before-m.svg) no-repeat;
        width: 1188px;
        height: 698px;
        top: 19%;
        left: 0;
    }
    .app__inner {
        flex-direction: column;
    }
    .app__descr, 
    .app__text {
        max-width: max-content;
    }
    .app__text {
        padding-top: 10px;
        line-height: 1.7;
    }
    .app__buttons {
        padding-top: 29px;
        justify-content: center;
    }
    .app__buttons--app {
        width: 130px;
        height: 46px;
    }
    .app__img {
        display: block;
        margin: 0 auto;        
        height: 369px;
        z-index: -1;
    }
    /* brand */
    .brand__mob {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url(../img/mixed-frame-mob.png) no-repeat center -100px;
        background-size: cover;
    }
    .brand__logo {
        padding-left: 10px;
        padding-top: 10px;
    }
    .logowhite {
        display: block;
    }
    .logored {
        display: none;
    }
    .brand__about {
        padding: 200px 20px 20px;
    }
    .brand__about h2 {
        margin-bottom: 15px;
        color: var(--color-main);
    }
    .brand__item p {
        line-height: 1.7;
        margin-bottom: 8px;        
        color: var(--color-main);
    }
    .brand .slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        top: 80.7%;
        left: 0;
        transform: none;
    }
    .slick-initialized .slick-slide {
        margin-bottom: 30px;
    }
    .brand .slick-dots li.slick-active button:before {
        color: var(--color-main);
    }
    .brand .slick-dots li button:before {
        opacity: .2;
        color: var(--color-main);
    }
    /* feedbacks */
    .feedbacks__inner {
        padding-left: 7.3vw;
        padding-right: 7.3vw;
    }
    .feedbacks__card {
        width: 86vw;
    }
    .feedbacks__card h3::after {
        width: 100px;
    }
    .feedbacks__review {
        max-width: unset;
    }    
    .feedbacks .slick-slide {
        margin-left: 29px;
        margin-bottom: 49px;
    }
    .feedbacks .slick-prev {
        left: calc(100% - 100% / 3);
    }
    .feedbacks .slick-next {
        left: calc((100% - 100% / 3) + 80px);
    }
    /* faq */
    .faq {
        margin-bottom: 27px;
    }
    .faq__inner {
        gap: 61px;
    }
    .faq__question p {
        padding-top: 33px;
    }
    .faq__question p::before {
        top: 15px;
    }
    /* model */
    .model::before {
        background: url(../img/path-model-before-m.svg) no-repeat;
        width: 1188px;
        height: 737px;
        top: -23.8%;
        left: -71.6%;
        z-index: -1;
    }
    .model__inner {
        padding: 32px 30px 0 30px;
        display: block;
    }
    .orangebtn {
        margin-top: 297px;
        margin-bottom: 12px;
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    .layer-bike-bottom {
        background: url(../img/bike-bottom.png) no-repeat;
        width: 378px;
        height: 258px;
        top: 36%;
        left: 50%;
        transform: translate(-50%, 0);
        background-size: 100% !important;
    }
    .layer-bike-bottom-black {
        background: url(../img/bike-bottom-black.png) no-repeat;
        width: 378px;
        height: 258px;
        top: 36%;
        left: 50%;
        transform: translate(-50%, 0);
        background-size: 100% !important;
    }
    .main__buttonarea {
        justify-content: center;
    }
    .model__inner .orangebtn {
        width: 248px;        
    }
    .model__title h2 {
        line-height: 1.18;
        max-width: unset;
    }
    .model__title h3 {
        font-size: 20px;
        line-height: 1.1;
        margin-bottom: 31px;
    }
    .model__title .main__button.white input:not(:checked):before {
        left: 13%;
    }
    .model__title .main__button input:after {
        right: 11%;
    }
    .model__descr {
        margin-bottom: 24px;
    }
    .model__descr h3 {
        text-align: center;
        padding-bottom: 32px;
    }
    /* footer */
    .footer__inner {
        padding: 8px 0;
    }
}
@media (max-width:480px) {
    /* mob buttons */
    .main__buttonarea {
        justify-content: center;
    }
    .main__button input {
        width: 87vw;
    }
    .main__button.white input:checked + label {
        left: 50%;
    }
    .main__button label {
        width: 50%;
    }
    .main__button input:after {
        right: 14%;
    }
    .main__button.white input:not(:checked):before {
        left: 15%;
    }
    .main__button input:after {
        right: 14%;
    }
    .main__button.white input:checked:before {
        color: var(--color-main);
        left: 15%;
    }
    /* features */
    .features__inner h2 {
        margin-bottom: 29px;
    }
    /* features */
    .features {
        margin-bottom: 34px;
    }
    .features::before {
        display: none;
    }
    .features__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card9"
            "card2"
            "card10"
            "card3"
            "card11";
        row-gap: 13px;
        position: relative;
    }
    .features__items::after {
        display: none;
    }
    .features__card h3 {
        color: var(--color-accent);
    }
    .card9,
    .card10,
    .card11 {
        display: block;
    }
    .card4,
    .card5,
    .card6,
    .card7,
    .card8 {
        display: none;
    }
    .features__card--title {
        margin-bottom: 23px;
    }
    .features__card--descr {
        line-height: 1.7;
    }
    .features__card--img img {
        margin-bottom: 26px;
        width: 100%;
    }
    .features__card:nth-child(5) {
        display: none;
    }
    .features__card h3::after {
        width: 100px;
        top: 30px;
    }
    .features__card:first-child .features__card--descr::before {
        display: none;
    }
    /* speed */
    .speed {
        background-position: top center;
        background-size: cover;
    }
    .speed__logo {
        margin-bottom: 226px;
        padding-top: 18px;
    }
    .logowhite img {
        width: 47px;
    }
    .speed__descr h2 {
        margin-bottom: 14px;
        padding-top: 0;
    }
    .speed__descr p {
        line-height: 1.7;
        text-wrap: balance;
    }
    /* design */
    .design {
        margin-bottom: 60px;
    }
    .design__inner {
        padding-top: 60px;
    }
    .design__imgmob {
        display: block;
        margin-bottom: 13px;
        border-radius: 15px;
    }
    .design__img h3 {
        margin-bottom: 8px;
    }
    .design__img p {
        text-wrap: auto;
        line-height: 1.7;
    }
    [class^="design__img--"] {
        background: unset;
        padding: 0;
        height: auto;
    }
    /* safety */
    .safety {
        margin-bottom: 37px;
    }
    .safety__inner h2 {
        margin-bottom: 31px;
    }
    .safety__item--title {
        margin-bottom: 1.4rem;
    }
    .safety__items::after, 
    .safety__item .safety__item--title::after {
        width: 100px;
        top: 1.8rem;
    }
    .safety__item--descr {
        line-height: 1.7;
        margin-bottom: 14px;
    }
    .safety__item--pic640 {
        display: none;
    }
    .safety__item--picmob {
        display: block;
    }
    .safety__item--picmob img {
        border-radius: 15px;
    }
    /* app */
    /* brand */
    .brand__mob {
        background: url(../img/mixed-frame-mob.png) no-repeat center top;
        background-size: cover;
        padding-bottom: 0;
    }
    .brand__about {
        padding: 200px 0 11px;
    }
    .brand .slick-initialized .slick-slide {
        margin-bottom: 70px;
    }
    /* feedbacks */
    .feedbacks {
        padding-top: 60px;
        margin-bottom: 59px;
    }
    .feedbacks::before {
        background: url(../img/path-feedbacks-before-m.svg) no-repeat;
        width: 1188px;
        height: 737px;
        top: -23.1%;
        left: 15.5%;
    }
    .feedbacks__inner h2 {
        text-wrap: balance;
        margin-bottom: 0;
    }
    .feedbacks__card {
        background-color: var(--color-button);
        padding: 29px 28px 30px 26px;
        border-radius: 15px;
    }
    .feedbacks__card h3::after {
        top: 35px;
    }
    .feedbacks__review p {
        line-height: 1.67;
    }
    .feedback__button {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
    }
    .feedbacks .slick-prev, 
    .feedbacks .slick-next {
        display: none !important;
    }
    .feedbacks .slick-dots {
        left: 0;
    }    
    .feedbacks .slick-dots li.slick-active button:before, 
    .feedbacks .slick-dots li button:before {
        color: #fff;
        top: -100px;
    }
    .feedbacks .slick-dots li button:before {
        font-size: 10px;
    }
    .feedbacks .slick-dots li {
        margin: 0 10px;
    }
    /* faq */
    .faq__form {
        min-width: unset;
    }
    .faq__form p {
        line-height: 1.67;
        margin-bottom: 10px;
    }
    .faq h2 {
        margin-bottom: 15px;
    }
    .faq__button {
        margin-top: 5px;
        width: 100%;
    }
    .faq__questions {
        padding-right: 0;
    }
    .faq__question {
        margin-bottom: 33px;
        position: relative;
    }
    .faq__question p {
        padding-right: 0;
        line-height: 1.6;
    }
    /* model */
    .model__title h2 {
        max-width: 210px;
    }
    .model__title .main__button input, .model__title .orangebtn {
        width: 220px;
    }
}
@media (max-width:425px) {
    .app::before {
        background: url(../img/path-app-before-m.svg) no-repeat;
        width: 1188px;
        height: 698px;
        top: 19%;
        left: -175%;
    }
}


/* form */
/* базовый стиль формы */
#messageResult, .form__thanks {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
}

.form__thanks--err {
    color: var(--color-accent);
}
form {
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px 6px 30px;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    border: 1px solid rgba(120,120,120,.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(60, 63, 65, 0.9); 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
/*общие стили полей ввода*/

textarea, input{
    display:block;    
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; 
    color:#fff;
    font-weight: 300;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
/* поле сообщения */
textarea{
    overflow:hidden;
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    /* background: rgba(255, 255, 255, 0.4); */
    padding-top: 13px;
    padding-left: 25px;
}
/* поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
}
input[type=submit] {
    cursor:pointer;
}
input.name {
   background: rgba(255, 255, 255, 0.4); 
   padding-left:25px;
}
input.email {
   background: rgba(255, 255, 255, 0.4);
   padding-left:25px;
}
input.message {
   background: rgba(255, 255, 255, 0.4);
   padding-left:25px;
}
::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder{ 
   color: #fff; 
}
::-moz-placeholder {
   color: #fff;
}
:-ms-input-placeholder {  
   color: #fff; 
}
input:focus, textarea:focus { 
   background-color: rgba(0, 0, 0, 0.2);
   -moz-box-shadow: none;
   -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
   box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
   overflow: hidden; 
}
:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }
 
/* Стили для кнопки отправить */
.btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        border-radius: 4px;
    border: 1px solid rgba(255,255,255,.4);
    background: #ba3000;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-accent)), to(#ba3000));
    background: -webkit-linear-gradient(top, var(--color-accent), #ba3000);
    background: -moz-linear-gradient(top, var(--color-accent), #ba3000);
    background: -ms-linear-gradient(top, var(--color-accent), #ba3000);
    background: -o-linear-gradient(top, var(--color-accent), #ba3000);
    background-image: -ms-linear-gradient(top, var(--color-accent) 0%, #ba3000 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #e1e1e1;
    outline: none;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
}
.btn:hover {
    border: 1px solid #253737;
    background: #ba3000;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF4C0D), to(#ba3000));
    background: -webkit-linear-gradient(top, #FF4C0D, #ba3000);
    background: -moz-linear-gradient(top, #FF4C0D, #ba3000);
    background: -ms-linear-gradient(top, #FF4C0D, #ba3000);
    background: -o-linear-gradient(top, #FF4C0D, #ba3000);
    background-image: -ms-linear-gradient(top, #FF4C0D 0%, #ba3000 100%);
    color: #fff;
 }
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background: #FF4C0D;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #f07b0e, #ff6600);
    background: -moz-linear-gradient(top, #f07b0e, #ff6600);
    background: -ms-linear-gradient(top, #f07b0e, #ff6600);
    background: -o-linear-gradient(top, #f07b0e, #ff6600);
    background-image: -ms-linear-gradient(top, #f07b0e 0%, #ff6600 100%);
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    color: #fff;
}
/* конец формы */
 
/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .modal {
       width: 95%;
    }
}
/* мобильный */
@media only screen and (min-width: 459px) and (max-width: 767px) {
    .modal {
       width:85%;  
    }
}